<header>
  <div class="header_section">
    <h1>MILU FRANZ</h1>
    <h3>Software Engineer <br>from Dayton, Ohio</br></h3>
    <div class="in_touch">
      <a href="https://github.com/milufranz08"><svg class="icon"><use xlink:href="#github-icon" /></svg></a>
      <a href="mailto:milu5489@gmail.com"><svg class="icon"><use xlink:href="#email-icon" /></svg></a>
      <a href="https://twitter.com/milu_franz"><svg class="icon"><use xlink:href="#twitter-icon" /></svg></a>
    </div>
  </div>
</header>
