main {
    background: black;
    color: $clr-gray-15;
    // padding: 1.0em;
    margin: -900px;
    padding: 60px 0;
}

.content {
    // max-width: $desktop-width;
    background: black;
    max-width: 100%;
    margin: 0;
    padding: 0;

    h2 {
        text-align: left;

        // @include media($desktop) {
        //     text-align: center;
        // }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $clr-highlight-alt;
    }
}
