.resume {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

main {

}

.content {
    background: black;
    color: white;
    display: block;
    font-size: 1em;
    padding: 2em;
    height: 100vh;
    overflow: scroll;

    h2 {
      margin: 0;
      padding: 0;
    }

    .divider {
      border-bottom: 1px solid $clr-mint;
    }

    strong {
      color: $clr-mint;
    }

    .description {
      padding-top: 0.5em;
    }

    .block {
      padding: 0.8em 0;

      .work_exp_block {
        padding-top: 0.7em;

        h4, h5 {
          padding: 0;
          margin: 0;
        }

        h5 {
          font-style: italic;
        }

        p {
          margin: 0;
          padding: 0;
        }
      }
    }
}
