// Header component on the front page
header {

  .header_section {
    background-color: $clr-mint;
    color: white;
    text-align: right;
    padding: 2em;
    
    @media (min-width: $desktop-width) {
      height: 100vh;
    }

    h1 {
      color: black;
      font-family: Helvetica;
      font-size: 3em;
      line-height: 0.9em;
    }

    .in_touch {
      display: flex;
      justify-content: flex-end;

      .icon {
        width: 20px;
        height: 20px;
        fill: black;
        padding: 0 0.3em;
      }
    }
  }
}
